body {
    background-color: #d14747;
    color: #4d4d4d;
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
}

h1,
h2,
h4,
h5 {
    color: #4b0f0f;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 160px;
    text-align: center;
    color:#c53434;
    margin: 0;
    text-shadow: 0 5px 10px rgba(185, 174, 174, 0.897);
}

/*
#800000	červena
#4b0f0f	vino
#000000	černá
#4d4d4d	tmave sediva
#7c7c7c svetle sediva
*/

h2 {
    text-align: center;
}

.my-picture {
    border-radius: 50%;
    border: 2px solid brown;
    overflow: auto;
    float: left;
    width: 300px; 
    
    }

.crochet-picture {
    width: 200px;
    border: 2px solid red;
    border-radius: 0 15px 0 15px;
}

.about-me,
.book,
.contact {
    background-color: #7c7c7c;
    padding: 50px 15%;
}

.about-me {
    padding: 15%;
}

.crochet,
.movie {
    background-color: #4d4d4d;
    padding: 50px 15%;
}

header{
    padding: 150px 30px;
    background-image: url(fotky/top-background.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer{
    background-color: black;
    text-align: center;
    padding: 20px 0;
}

